---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";

type Props = {
  hideBackToTop?: boolean;
};

const { hideBackToTop = false } = Astro.props;
---

<footer class="animate">
  <Container>
    {!hideBackToTop && (
      <div class="relative">
        <div class="absolute right-0 -top-20">
          <BackToTop />
        </div>
      </div>
    )}
    <div class="text-center">
      &copy; 2024 {`|`} {SITE.NAME}
    </div>
  </Container>
</footer>
